@page "/admin/insertfilmposter/{category}"
@rendermode InteractiveServer
@inject HttpClient _http
@inject IJSRuntime JS
@inject NavigationManager Navigation // uses to redirect to another component in behind code
@using FIlmposter.Utilities.Helpers
@using Filmposter.Common.Constants;
@using FIlmposter.Layout
@layout SingleLayout

<HeadContent>
    <script src="sitetemplate/js/components/admininsertfilmposter.js"></script>
</HeadContent>

@if (Category == "adminInsertNationalFilmPosters")
{
    <PageTitle>@CategoryName</PageTitle>
    <NavLink href="/admin/showfilmposter/adminNationalFilmPosters" class="btn btn-primary">مشاهده پوستر فیلم‌های ایرانی</NavLink>
}
else if (Category == "adminInsertForeignFilmPosters")
{
    <PageTitle>@CategoryName</PageTitle>
    <NavLink href="/admin/showfilmposter/adminForeignFilmPosters" class="btn btn-primary">مشاهده پوستر فیلم‌های خارجی</NavLink>
}

<EditForm EditContext="editContext">
    <DataAnnotationsValidator />
    <ValidationSummary class="filmposter-validation-summary" />

    <div class="card-box">
        <div class="row mt-3">
            <div class="col-12" id="divProfile">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">عنوان پوستر به فارسی</span>
                    </div>
                    <input @ref="titleFaInput" class="@($"{GetFieldClass(nameof(filmPoster.TitleFa))} form-control")"
                           id="txtTitleFa"
                           @onblur="ValidateField"
                           @bind="filmPoster.TitleFa" />
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">عنوان پوستر به انگلیسی</span>
                    </div>
                    <input type="text" @bind="filmPoster.TitleEn" class="form-control" id="txtTitleEn" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">کارگردان</span>
                    </div>
                    <input @ref="dierctorInput"
                           class="@($"{GetFieldClass(nameof(filmPoster.Director))} form-control")"
                           id="txtDirector"
                           @bind="filmPoster.Director"
                           @onblur="ValidateField"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">تهیه کننده</span>
                    </div>
                    <input @ref="producerInput"
                           class="@($"{GetFieldClass(nameof(filmPoster.Producer))} form-control")"
                           @onblur="ValidateField"
                           id="txtProducer"
                           type="text"
                           @bind="filmPoster.Producer" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">خلاصه اثر</span>
                    </div>
                    <textarea @ref="summaryInput"
                              class="@($"{GetFieldClass(nameof(filmPoster.Summary))} form-control")"
                              @onblur="ValidateField"
                              @bind="filmPoster.Summary" rows="10" id="txtSummary" aria-label="With textarea"></textarea>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">تاریخ تولید</span>
                    </div>
                    @*
                    // [txtProductionDate] will be set from blazor.razor.cs method & /wwwroot/sitetemplate/js/custom.js
                    // for example check: AdminInsertFilmPoster.razor.cs
                    *@
                    <input id="txtProductionDate" type="text" readonly @bind="filmPoster.ProductionDate" class="form-control shamsidate">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">فایل پوستر</span>
                    </div>
                    <InputFile @onblur="ValidateField"
                        class="@($"{GetFieldClass(nameof(filmPoster.Filename))} form-control")"
                               OnChange="@HandleFileSelected" @bind-value="filmPoster.File" id="filePoster" />
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">گونه فیلم</span>
                    </div>
                    <InputSelect @bind-Value="filmPoster.ShortFeature" class="form-select">
                        <option value="@FilmposterShortFeatureConstants.Short">کوتاه</option>
                        <option value="@FilmposterShortFeatureConstants.MidLength">نیمه بلند</option>
                        <option value="@FilmposterShortFeatureConstants.Feature">بلند</option>
                        <option value="@FilmposterShortFeatureConstants.Series">سریال</option>
                        <option value="@FilmposterShortFeatureConstants.ScriptCovert">کاور فیلمنامه</option>
                        <option value="@FilmposterShortFeatureConstants.Theater">تئاتر</option>
                        <option value="@FilmposterShortFeatureConstants.BookCover">جلد کتاب</option>
                    </InputSelect>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">ژانر فیلم</span>
                    </div>
                    <InputSelect @bind-Value="filmPoster.Style" class="form-select">
                        <option value="@FilmposterStyleConstants.Fiction">داستانی</option>
                        <option value="@FilmposterStyleConstants.Documentary">مستند</option>
                        <option value="@FilmposterStyleConstants.Animation">انیمیشن</option>
                        <option value="@FilmposterStyleConstants.Experimental">تجربی</option>
                    </InputSelect>
                </div>
                <div class="alert alert-warning" role="alert">
                    <div class="input-group input-group-sm mb-3">
                        <div class="form-control">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">ارزشمندی فایل از نظر هنری</span>
                            </div>
                            هست
                            <label class="custom-control border-switch">
                                <input type="checkbox" id="chkGenrePureDrama" class="border-switch-control-input chkWorth" @bind="filmPoster.Worth">
                                <span class="border-switch-control-indicator"></span>
                            </label>
                            نیست
                        </div>
                    </div>
                </div>                
                <div class="alert alert-warning" role="alert">
                    <div class="input-group input-group-sm mb-3">
                        <div class="form-control">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">این فایل توسط تیم ما طراحی شده؟</span>
                            </div>
                            بلی
                            <label class="custom-control border-switch">
                                <input type="checkbox" id="chkGenrePureDrama" class="border-switch-control-input chkWorth" @bind="filmPoster.FilmPoster">
                                <span class="border-switch-control-indicator"></span>
                            </label>
                            خیر
                        </div>
                    </div>
                </div>
                <div>
                    @if (Category == "insertNationalFilmPosters")
                    {
                        <button @onclick="@(e => SubmitForm("insert","national"))">Check</button>
                    }
                    else if (Category == "insertForeignFilmPosters")
                    {
                        <button @onclick="@(e => SubmitForm("insert","foreign"))">Check</button>
                    }                    
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code {
}

